* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #060919;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  background: hsl(0, 0%, 0%);
}
::-webkit-scrollbar-thumb {
  background: aqua;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(20, 210, 210);
}

/* --------------------------------------NavBar---------------------------------------- */

.navbar {
  color: white;
  font-family: "Nanum Gothic", sans-serif;
  height: 13vh;
  display: flex;
  justify-content: space-between;
  gap: 10px 20px;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  /* position: fixed; */
  width: 100vw;
  z-index: 2;
  /* border-bottom: 1px solid aqua; */
}

.navbar.scrolled {
  box-shadow: rgba(152, 86, 255, 0.32) 0px 1px 2px -2px,
    rgba(85, 160, 255, 0.24) 0px 3px 6px 0px,
    rgba(153, 83, 255, 0.18) 0px 5px 12px 4px;
}

.navChild1 {
  width: 35vw;
  cursor: pointer;
}
.navChild2 {
  width: 40vw;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  transition: all 0.6s ease-in;
  color: rgb(103, 115, 149);
  align-items: center;
}
/* .navChild2:hover {
    color: #17f3cb;
  } */
.nav2Item {
  transition: all 0.2s ease-in;
}
.nav2Item:hover {
  color: #17f3cb;
  cursor: pointer;
  /* box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); */
  /* transition-delay: 0.2s; */
}
.navChild2 span:first-child {
  color: #17f3cb;
}

.navChild3 {
  width: 148px;
  background: linear-gradient(
    270deg,
    rgb(51, 212, 250) 0%,
    rgb(23, 243, 221) 100%
  );
  height: 40px;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 1000;
  font-size: 14px;
  color: black;
  cursor: pointer;
  transition: 0.2s ease 0s, 0.2s ease 0s;
}
.navChild3:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  .navbar {
    top: 0;
    right: 0;
    position: relative;
    justify-content: space-between;
    height: 8vh;
  }
  .nav2Item,
  .navChild3 {
    display: none;
  }
  .navChild2 {
    width: 6vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1058px) {
  .navChild2 {
    width: 50vw;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Chivo&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heroSection {
  background-color: black;
  padding: 2%;
  font-family: "Chivo", sans-serif;
}

@media screen and (max-width: 1100px) {
  .heroSectionLeftHeading {
    font-size: 2rem !important;
  }
}
@media screen and (min-width: 700px) and (max-width: 1050px) {
  .heroSectionLeftHeading {
    font-size: 1.8rem !important;
  }
  .heroSectionLeft {
    margin-top: -10%;
  }
}
@media screen and (max-width: 600px) {
  .heroSectionSubDiv {
    flex-direction: column;
  }
  .heroSectionLeft {
    max-width: 100vw !important;
  }
}

.heroSectionSubDiv {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(97, 52, 190) 0%,
    rgba(4, 0, 4, 1) 90%
  );
  border: 1.5px solid aqua;

  padding-bottom: 4%;
  padding-top: 4%;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
}
.heroSectionLeft {
  display: flex;
  max-width: 40vw;
  justify-content: center;
  flex-direction: column;
}

.heroSectionLeftHeading {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 3%;
}
.heroSectionLeftDescription1 {
  font-size: 1.2rem;
  color: white;
}
.heroSectionLeftDescription2 {
  font-size: 1.2rem;
  color: yellow;
  height: 11%;
  overflow: hidden;
  margin-top: 2%;
}

.word-rotator {
  /* width: 600px; */
  height: 50px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.word-rotator span {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 16px;
  animation: rotateWords 16s linear infinite;
}

.word-rotator .word-1 {
  animation-delay: 0s;
}

.word-rotator .word-2 {
  animation-delay: 4s;
}

.word-rotator .word-3 {
  animation-delay: 8s;
}

.word-rotator .word-4 {
  animation-delay: 12s;
}

@keyframes rotateWords {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  5% {
    opacity: 1;
    transform: translateY(0);
  }
  25% {
    opacity: 1;
    transform: translateY(0);
  }
  30% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

/* .heroSectionLeftDescription2 span{
  display: block;
  height: 100%;
  animation: spin_words 6s infinite;
} */

.heroSectionButtons {
  display: flex;
  gap: 1.5%;
  padding-top: 2%;
}
.heroSectionButtons :first-child {
  background-color: rgb(0, 0, 0);
  padding: 3%;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.heroSectionButtons :first-child:hover {
  opacity: 0.8;
}

.heroSectionButtons :last-child {
  cursor: pointer;
  background-color: transparent;
  border: 1.5px solid white;
  color: white;
  padding: 3%;
  border-radius: 10px;
  transition: all 0.2s ease-in;
}
.heroSectionButtons :last-child:hover {
  background-color: aqua;
  color: black;
  border-color: aqua;
}

.heroSectionRight {
  background-color: #2563eb;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(78, 255, 222, 0.41);
  border-radius: 20px;
  /* flex: 0.4; */
  /* height: 65vh; */
  display: flex;
  width: 32%;
  flex-direction: column;
}

.heroSectionCounter {
  font-weight: 600;
  font-size: 1.5rem;
}

.heroSectionRightTop {
  display: flex;

  justify-content: center;
  flex-direction: column;
  padding: 2% 8%;
  padding-bottom: 2%;
  font-size: 1.3rem;

  color: white;
}
.heroSectionRightTop:first-child {
  text-align: center;
  /* text-transform: uppercase; */
}
.heroSectionRightCenter {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 20px 20px;
  font-weight: 600;
}

.heroSectionRightCenterText1 {
  font-size: 1rem;
  padding: 1%;
  opacity: 0.6;
}
.heroSectionRightCenterText2 {
  font-size: 1.2rem;
  padding-bottom: 2%;
}
.heroSectionRightCenterText3 {
  font-size: 1rem;
  padding-top: 2%;
  font-weight: 700;
  padding-bottom: 2%;
}

.heroSectionRightPurpleButtons {
  display: flex;
  padding-top: 5%;
  flex-direction: column;
  width: 90%;
}
.heroSectionRightPurpleButtons div {
  background-color: #2563eb;
  text-align: center;
  color: white;
  /* color: azure; */
  margin-bottom: 2%;
  padding: 4%;
  border-radius: 5px;
}
.heroSectionRightPurpleButtons div:hover {
  text-decoration: underline;
}

/* .heroSectionRightWhiteButtons {
  display: flex;
  justify-content: center;
  width: 70%;
} */
/* .heroSectionRightWhiteButtons div {
  font-size: 0.7rem;
  background-color: white;
  border-radius: 20px;
  padding: 3% 7%;
} */

.progressSection {
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #93c5fd;
  border-radius: 80px;
}
.progressLabel {
  /* position: absolute;
  left:80%; */
  border-radius: 80px;
  /* margin-top: 4%; */
  background-color: rgb(255, 255, 255);
  font-size: 0.8rem;
  font-weight: 600;
  color: #2563eb;
}
#container {
  display: flex;
  align-items: center;
  width: 25vw;
}

.line {
  flex: 1;
  height: 0.5px;
  background-color: #2563eb;
}

.content {
  padding: 10px 10px;
  font-size: 1rem;
  color: #2563eb;
  font-weight: bold;
}

.heroSectionTextFields {
  width: 90%;
}

.ThreeButtonsWrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-bottom: 2%;
  /* gap:15%; */
}

.buttonsKeDiv {
  font-size: 1rem;
  color: #24262b;
  padding: 2% 5%;
  border-radius: 5px;
  border: 1px solid rgb(65, 65, 67);
}
.buttonsKeDiv2 {
  font-size: 1rem;
  color: #24262b;
  padding: 2% 5%;
  border-radius: 5px;
  border: 1px solid rgb(65, 65, 67);
}
.buttonsKeDiv3 {
  font-size: 1rem;
  color: #24262b;
  padding: 2% 5%;
  border-radius: 5px;
  border: 1px solid rgb(65, 65, 67);
}
.activeButton {
  border: 1.8px solid rgb(0, 21, 255);
  font-size: 1rem;
  color: #0545e8;
  padding: 2% 5%;
  border-radius: 5px;
  /* border: 1px solid rgb(65, 65, 67); */
}

/* <-----------------------------------Steps---------------------------------> */

.stepsSection {
  padding: 2%;
}

.stepsSection h2 {
  padding: 2% 0;
  font-size: 24px;
  font-family: "Nanum Gothic", sans-serif;
  color: aqua;
}

.stepsSection h1 {
  font-size: 24px;
  font-family: "Nanum Gothic", sans-serif;
  color: aqua;
}
.stepsSectionDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stepsSectionDiv p {
  font-size: 22px;
  font-family: "Nanum Gothic", sans-serif;
  color: aqua;
}

/* <-----------------------------------------Stages Sction-----------------------------------> */

.StagesSectionBody {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-family: "Nanum Gothic", sans-serif;
  /* font-family: "Chakra Petch", sans-serif; */
  /* padding: 3%; */
  margin-bottom: 10%;
}

.stageSectionHeading {
  font-size: 3rem;
  /* font-weight: 600; */
  background: linear-gradient(0deg, #69f, #f36);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5%;
}
.stagesWrapper {
  color: white;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  gap: 10px;
}
.stagesWrapper :nth-child(odd) {
  /* padding: 2%; */
}
.stagesWrapper :nth-child(even) {
  /* padding: 2%; */
}

.stagesWrapper hr {
  height: 100px; /* Adjust height as needed */
  transform: rotate(180deg);
  /* transform-origin: left top; */
}

/* .stageOne {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
} */

.stageOneButton {
  padding: 2% 4%;
  margin-bottom: 4%;
  background-color: aqua;
  color: black;
}
.stageTwoButton {
  padding: 2% 4%;
  color: black;
  margin-bottom: 4%;
  background-color: aqua;
}
.stageThreeButton {
  padding: 2% 4%;
  margin-bottom: 4%;
  color: black;
  background-color: aqua;
}
.stageFourButton {
  margin-bottom: 4%;
  padding: 2% 4%;
  color: black;
  background-color: aqua;
}
.stageFiveButton {
  color: black;
  margin-bottom: 4%;
  padding: 2% 4%;
  background-color: aqua;
}

/* <----------------------------------------Roadmap----------------------------------------> */

.projectsHeading {
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 2%;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
  color: aqua;
}

.experienceDark {
  /* color: rgb(255, 255, 255); */
  padding: 5%;
  background-color: #000000;
  color: black;
}
::selection {
  color: #fff;
  background: #ff7979;
}
.wrapper {
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
  padding-bottom: 15%;
  font-family: "Chakra Petch", sans-serif;
}
.wrapper .center-line {
  position: absolute;
  height: 90%;
  width: 4px;
  background: aqua;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row {
  display: flex;
}
.wrapper .row-1 {
  justify-content: flex-start;
}
.wrapper .row-2 {
  justify-content: flex-end;
}
.wrapper .row section {
  /* background: #fff; */
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);

  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}
.wrapper .row section::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before {
  right: -7px;
}
.row-2 section::before {
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon {
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  /* color: #ff7979; */
  color: rgb(8, 0, 255);
  /* color: #000000; */
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.center-line .scroll-icon {
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row-1 section .icon {
  top: 15px;
  right: -60px;
}
.row-2 section .icon {
  top: 15px;
  left: -60px;
}
.row section .details,
.row section .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row section .details .title {
  font-size: 22px;
  font-weight: 600;
}
.row section p {
  margin: 10px 0 17px 0;
}
.row section .bottom a {
  text-decoration: none;
  /* background: #ff7979; */
  background: #1ea7fd;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}
.row section .bottom a:hover {
  transform: scale(0.97);
}
@media (max-width: 790px) {
  .wrapper .center-line {
    left: 40px;
  }
  .wrapper .row {
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section {
    width: 100%;
  }
  .row-1 section::before {
    left: -7px;
  }
  .row-1 section .icon {
    left: -60px;
  }
}

/* <----------------------------------Utility--------------------------------> */

.utilitySection {
  padding: 2% 4%;
  font-family: "Chivo", sans-serif;
}
.utilitySectionIntro {
  color: white;
  width: 60%;
}
.utilitySectionIntro p:first-child {
  font-size: 2.5rem;
  font-weight: 800;
  padding-top: 0%;
}
.utilitySectionIntro p:last-child {
  font-size: 2.5rem;
  font-weight: 800;
  padding-top: 0%;
}
.utilitySectionContainer {
  display: flex;
  padding-top: 2%;
}
.utilitySectionLeft {
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.utilitySectionLeftDivs {
  padding: 5%;
  font-size: 1.2rem;
  font-weight: 600;
}
.utilitySectionLeftDivs:hover {
  background-color: aqua;
  color: black;
}
.utilitySectionRight {
  /* flex: 0.4; */
  /* padding-left: 15%; */
}

/* <---------------------------------------Service Section------------------------>  */

.utilitySection {
  font-family: "Chivo", sans-serif;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}
.serviceSectionHeading {
  color: white;
  font-size: 3rem;
  padding: 3%;
  text-align: center;
}

.serviceSectionWrapper {
  display: flex;
}
.serviceSectionSubWrapper {
  color: white;
  text-align: center;
  padding: 5%;
  transition: all 0.5s ease-in;
}
.serviceSectionSubWrapper:hover {
  background-color: aqua;
  transform: scale(102%);
  color: black;
  opacity: 0.7;
}
.serviceSectionSubHeadings {
  font-size: 2rem;
  padding: 5%;
}

.serviceSectionDescription {
  padding-top: 2%;
}

/* ---------------------------------Draggable / Buy------------------------------------- */

.dragDiv {
  touch-action: none;
  cursor: grab;
  user-select: none;
  z-index: 1011;
  /* transform: translate3d(-6.6667px, 5.6667px, 0px); */
  /* background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%); */
  /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(97, 52, 190) 0%, rgba(4,0,4,1) 90% ); */

  border-radius: 20px;
  border: solid 2px aqua;
  padding: 4rem 1rem 1rem;
  /* z-index: 1; */
  display: flex;
  flex-direction: column;
  /* position: relative;
  top: 40px;
  left: 50px; */
  width: 30rem;
  /* color:black; */
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  box-shadow: 0px 10px 40px rgba(255, 255, 255, 0.3);
  position: relative;
  left: 30px;
  /* margin-bottom: 30%; */
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

#dragDiv2 {
  touch-action: none;
  cursor: grab;
  user-select: none;
  z-index: 1011;
  /* transform: translate3d(-6.6667px, 5.6667px, 0px); */
  border-radius: 20px;
  border: solid 2px aqua;
  padding: 4rem 1rem 1rem;
  /* z-index: 1; */
  display: flex;
  flex-direction: column;
  /* position: relative;
  top: -400px;
  left: 700px; */
  width: 30rem;
}

#dragDiv3 {
  touch-action: none;
  cursor: grab;
  user-select: none;
  z-index: 1011;
  /* transform: translate3d(-6.6667px, 5.6667px, 0px); */
  border-radius: 20px;
  border: solid 2px aqua;
  padding: 4rem 1rem 1rem;
  /* z-index: 1; */
  display: flex;
  flex-direction: column;
  /* position: relative;
  top: -300px;
  left: 650px; */
  width: 30rem;
}

.dragChild {
  color: white;
  text-decoration: none;
  padding-bottom: 0.5rem;
  font-family: "Nanum Gothic", sans-serif;
}

.dragDiv::before {
  filter: invert(1) brightness(1.3);
  position: absolute;
  content: "";
  width: 4rem;
  left: 1rem;
  height: 1.5rem;
  top: 0.5rem;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 21'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Ccircle cx='10' cy='10' r='10' fill='%23404040'/%3E%3Ccircle cx='40' cy='10' r='10' fill='%23404040'/%3E%3Ccircle cx='70' cy='10' r='10' fill='%23404040'/%3E%3C/g%3E%3C/svg%3E%0A");
  /* color: black !important; */
  /* background-color: purple; */
  touch-action: none;
  cursor: grab;
  user-select: none;
}

.dragDiv::after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: aqua;
  top: 2rem;
}

.dragChild h2 {
  line-height: 1;
  display: inline;
  background: linear-gradient(
    transparent 50%,
    purple 50%,
    purple 85%,
    transparent 85%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-size: 0 100%;
}

.dragDiv p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.draggable {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-bottom: 10%;
}

.draggable div {
  font-size: 24px;
  font-family: "Nanum Gothic", sans-serif;
  color: aqua;
  margin-bottom: 1%;
}

.draggable h2 {
  font-size: 32px;
  font-family: "Nanum Gothic", sans-serif;
  text-align: center;
}

.buySteps {
  margin-bottom: 80%;
  color: white;
  display: flex;
  justify-content: space-around;
}
.fieldset {
  padding: 3% 4% 3% 4%;
  font-family: "Nanum Gothic", sans-serif;
  width: 40vw;
  margin-top: 2.5%;
}

.dragChild div {
  background-color: transparent;
  width: 30%;
  padding: 1% 3% 1% 3%;
  text-align: center;
  border-radius: 15px;
  border: 2px solid aqua;
  font-size: 15px;
  transition: all 0.3s ease-in;
  margin-left: auto;
}

.dragChild div:hover {
  background-color: aqua;
  color: black;
  cursor: pointer;
}

.buySpan {
  /* margin-bottom: 300px; */
  font-size: 24px;
  font-family: "Nanum Gothic", sans-serif;
  color: aqua;
}

.buySpan2 {
  /* margin-bottom: 300px; */
  font-size: 24px;
  font-family: "Nanum Gothic", sans-serif;
  color: aqua;
  display: flex;
  flex-direction: row-reverse;
}

@media only screen and (max-width: 420px) {
  .buySteps {
    margin-bottom: 100%;
  }
  .animated-div1 {
    left: 11.5% !important;
    transform: translateX(-50%) !important;
    top: 980px !important;
  }
  .animated-div2 {
    background-color: green;
    left: 11.5% !important;
    transform: translateX(-50%) !important;
    top: 550px !important;
  }
  .animated-div3 {
    left: 11.5% !important;
    transform: translateX(-50%) !important;
    top: 1380px !important;
  }
  .buySteps {
    margin-bottom: 340%;
  }
  .dragDiv {
    width: 22rem;
  }
  #dragDiv2 {
    width: 22rem;
  }
  #dragDiv3 {
    width: 22rem;
  }
}

@media only screen and (min-width: 421px) and (max-width: 620px) {
  .animated-div1 {
    left: 20% !important;
    transform: translateX(-50%) !important;
    top: 800px !important;
  }
  .animated-div2 {
    background-color: pink;
    left: 20% !important;
    transform: translateX(-50%) !important;
    top: 450px !important;
  }
  .animated-div3 {
    left: 20% !important;
    transform: translateX(-50%) !important;
    top: 1150px !important;
  }
  .buySteps {
    margin-bottom: 220%;
  }
}

@media only screen and (min-width: 621px) and (max-width: 699px) {
  .animated-div1 {
    left: 25% !important;
    transform: translateX(-50%) !important;
    top: 800px !important;
  }
  .animated-div2 {
    background-color: orange;
    left: 25% !important;
    transform: translateX(-50%) !important;
    top: 450px !important;
  }
  .animated-div3 {
    left: 25% !important;
    transform: translateX(-50%) !important;
    top: 1150px !important;
  }
  .buySteps {
    margin-bottom: 180%;
  }
}

@media only screen and (min-width: 700px) and (max-width: 799px) {
  .animated-div1 {
    left: 30% !important;
    transform: translateX(-50%) !important;
    top: 800px !important;
  }
  .animated-div2 {
    background-color: purple;
    left: 30% !important;
    transform: translateX(-50%) !important;
    top: 450px !important;
  }
  .animated-div3 {
    left: 30% !important;
    transform: translateX(-50%) !important;
    top: 1150px !important;
  }
  .buySteps {
    margin-bottom: 150%;
  }
}

@media only screen and (min-width: 800px) and (max-width: 959px) {
  body {
    overflow-x: hidden;
  }
  .draggable {
    margin-top: 13%;
  }
  .draggable div {
    font-size: 20px;
    margin-bottom: 4%;
  }
  .draggable h2 {
    font-size: 24px;
  }
  .buySteps {
    margin-bottom: 130%;
  }
  .animated-div1 {
    left: 35% !important;
    transform: translateX(-50%) !important;
    top: 750px !important;
  }
  .animated-div2 {
    background-color: yellow;
    left: 35% !important;
    transform: translateX(-50%) !important;
    top: 400px !important;
  }
  .animated-div3 {
    left: 35% !important;
    transform: translateX(-50%) !important;
    top: 1100px !important;
  }
  .dragDiv {
    /* position: flex; */
    /* position: ; */
    /* top: 0; */
    /* left: 0;
    right: 0; */
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(-50%, -50%);
    width: 25rem;
    margin-bottom: 5%; */
  }
  #dragDiv2 {
    /* position: flex; */
    /* position: block; */
    /* top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    margin-bottom: 5%; */
  }
  #dragDiv3 {
    /* position: flex; */
    /* position: block; */
    /* top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem; */
  }
}

@media only screen and (min-width: 960px) and (max-width: 1050px) {
  .animated-div1 {
    left: 0px !important;
    top: 550px !important;
  }
  .animated-div2 {
    background-color: blue;
    left: 500px !important;
    top: 400px !important;
  }
  .animated-div3 {
    left: 500px !important;
    top: 800px !important;
  }
}

@media only screen and (min-width: 1051px) and (max-width: 1200px) {
  /* .dragDiv {
    width: calc(30rem - 50px);
    width: 25rem;
    margin-bottom: 5%;
  } */
  .animated-div1 {
    top: 600px !important;
  }
  .animated-div2 {
    background-color: red;
    left: 550px !important;
    top: 400px !important;
  }
  .animated-div3 {
    top: 900px !important;
    left: 550px !important;
  }
  #dragDiv2 {
    /* position: flex; */
    /* position: block; */
    /* top: 0;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* width: 25rem; */
    /* left: 570px; */
  }
}

/* ----------------------------------------------Product------------------------------- */

.product {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 0;
  justify-items: center;
  align-items: center;
  color: white;
  /* background-color: aqua; */
}

@media (min-width: 768px) {
  .product {
    margin-top: 20px;
  }
}

@media (min-width: 1024px) {
  .product {
    padding-top: 0;
  }
}

@media (min-width: 1536px) {
  .product {
    margin-right: 0;
    margin-left: 0;
  }
}

.productBox {
  position: relative;
  z-index: 10;
  grid-column: span 4 / span 4;
  margin-bottom: 4px;
  display: block;
  width: 100%;
  justify-content: center;
  column-gap: 0;
}

@media (min-width: 640px) {
  .productBox {
    margin-left: auto;
    margin-right: auto;
  }
}

/* No margin bottom for medium screens and above */
@media (min-width: 768px) {
  .productBox {
    margin-bottom: 0;
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* No horizontal margin for large screens and above */
@media (min-width: 1024px) {
  .productBox {
    margin-left: 0;
    margin-right: 0;
    white-space: normal;
  }
}

/* Grid column span of 1 for extra-large screens and above */
@media (min-width: 1280px) {
  .productBox {
    grid-column: span 1 / span 1;
    display: block;
    padding-left: 0;
    padding-right: 0;
    row-gap: 0.25rem;
    padding-left: 0;
    padding-right: 0;
  }
}

.pBox1 {
  position: relative;
  width: 100%;
  cursor: pointer;
  border-radius: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  transition-property: color;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  /* background-color: red; */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.pBox2 {
  position: relative;
  width: 100%;
  cursor: pointer;
  border-radius: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  transition-property: color;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  /* background-color: red; */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.active {
  opacity: 0.4;
}

@media (min-width: 768px) {
  .pBox1 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
  }
  .pBox2 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
  }
  /* .pMainBox > div > img {
    display: none;
  } */
}

@media (min-width: 1024px) {
  .pBox1 {
    padding: 1.5rem;
  }
  .pBox2 {
    padding: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .pBox1 {
    width: auto;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .pBox2 {
    width: auto;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}

.pMainBox {
  position: relative;
  grid-column: span 4 / span 4;
  overflow: hidden;
  border-radius: 1.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); */
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  /* box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1); */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@media (min-width: 1280px) {
  .pMainBox {
    grid-column: span 3 / span 3;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 4rem;
    border-color: rgba(255, 255, 255, 0.1);
  }
}

.pMainBox div {
  overflow: hidden;
}

.pMainBox-child {
  display: flex;
  padding-bottom: 2rem;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .pMainBox-child {
    padding-bottom: 4rem;
  }
}

.pMainBox div {
  display: flex;
  gap: 25px;
  align-items: center;
}

.productParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Nanum Gothic", sans-serif;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 4%;
  /* gap: 20px; */
}
.productParent h1 {
  margin-bottom: 5%;
  font-size: 40px;
  color: aqua;
}

/* -------------------------------------------Feature------------------------------------------------ */

.feature {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-top: 8%;
  padding-bottom: 6%;
  font-family: "Nanum Gothic", sans-serif;
}

.feature h2 {
  margin-bottom: 6%;
  font-size: 30px;
}

.marquee {
  height: 20vh;
}

.marquee img {
  height: 20vh;
  margin-left: 3%;
  margin-right: 3%;
}

/* <-------------------------------------------Footer Section------------------------------------->  */

footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #000000;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: aqua;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
